<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A cure for consistency under partitioning</h2>
                <hr class="light">
                <p class="text-faded">AntidoteDB operations is based on the principle of synchronization-free execution. Similarly to NOSQL, it provides fault-tolerance and high availability, but unlike NOSQL, AntidoteDB provides highly available SQL transactions that makes developement easy.</p>
                <a href="https://antidotedb.gitbook.io/documentation/" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
