<section id="services">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">How does Antidote compare?</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <table class="table table-striped">
                <tbody>
					<tr>
						<th></th>
						<th>Traditional RDBMS</th>
						<th>NoSQL</th>
						<th>Other NewSQL</th>
						<th>AntidoteDB</th>
					</tr>
					<tr>
						<td>Scalable</td>
						<td>
							<i class="fa fa-lg fa-times"></i>
						</td>
						<td>
							<i class="fa fa-2x fa-check text-primary"></i>
						</td>
						<td>
							<i class="fa fa-2x fa-check text-primary"></i>
						</td>
						<td>
							<i class="fa fa-2x fa-check text-primary"></i>
						</td>
					</tr>
					<tr>
						<td>Consistent</td>
						<td>
							<i class="fa fa-2x fa-check text-primary"></i>
						</td>
						<td>
							<i class="fa fa-lg fa-times"></i>
						</td>
						<td>
							<i class="fa fa-2x fa-check text-primary"></i>
						</td>
						<td>
							<i class="fa fa-2x fa-check text-primary"></i>
						</td>
					</tr>
					<tr>
						<td>Available under-partitioning</td>
						<td>
							<i class="fa fa-lg fa-times"></i>
						</td>
						<td>
							<i class="fa fa-2x fa-check text-primary"></i>
						</td>
						<td>
							<i class="fa fa-lg fa-times"></i>
						</td>
						<td>
							<i class="fa fa-2x fa-check text-primary"></i>
						</td>
					</tr>
					<tr>
						<td>ACID Transactions</td>
						<td>
							<i class="fa fa-2x fa-check text-primary"></i>
						</td>
						<td>
							<i class="fa fa-lg fa-times"></i>
						</td>
						<td>
							<i class="fa fa-2x fa-check text-primary"></i>
						</td>
						<td>
							<i class="fa fa-2x fa-check text-primary"></i>
						</td>
					</tr>
					<tr>
						<td>Global low latency</td>
						<td>
							<i class="fa fa-lg fa-times"></i>
						</td>
						<td>
							<i class="fa fa-2x fa-check text-primary"></i>
						</td>
						<td>
							<i class="fa fa-lg fa-times"></i>
						</td>
						<td>
							<i class="fa fa-2x fa-check text-primary"></i>
						</td>
					</tr>
					<tr>
						<td>SQL</td>
						<td>
							<i class="fa fa-2x fa-check text-primary"></i>
						</td>
						<td>
							<i class="fa fa-lg fa-times"></i>
						</td>
						<td>
							<i class="fa fa-2x fa-check text-primary"></i>
						</td>
						<td>
							<i class="fa fa-2x fa-check text-primary"></i>
						</td>
					</tr>
				</tbody>
              </table>
          </div>
      </div>
  </div>
</section>
