<header>
        <div class="header-content">
                <div class="container">
                        <div id="events" class="row">
                                <div class="col-lg-8 col-lg-offset-2 text-center">
                                        <h2 class="section-heading">Events</h2>
                                        <hr class="primary">
                                </div>
                                <div class="col-lg-8 col-lg-offset-2 text-left">
                                        {% capture my_include %}{% include content/events.md %}{% endcapture %}
                                        {{ my_include | markdownify }}
                                </div>
                         </div>
                </div>
        </div>
</header>