<header>
        <div class="header-content">
                <div class="container">
                        <div class="row">
                                <div class="col-lg-8 col-lg-offset-2 text-center">
                                        <h2 class="section-heading">Events</h2>
                                        <hr class="primary">
                                </div>
                                <div class="col-lg-8 col-lg-offset-2 text-left">
                                        <h3 class="text-secondary" style="color:#33cccc"><b>Upcoming!</b></h3>
                                        <p class="text-muted"><br/>Come and talk to us at the <a href="https://vivatechnology.com/">Vivatech exhibit!</a> More details to come!</p>
                                </div>
                                <div class="col-lg-8 col-lg-offset-2 text-left">
                                        <h3 class="text-secondary" style="color:#33cccc"><b>Past Events!</b></h3>
                                        <br/>
                                        <ul>
                                                <li class="text-muted">Valter Balegas’ presentation at <a href="https://www.codeeurope.pl/en"> Code Europe, Wroclaw, May 23rd</a></li><br/>
                                                <li class="text-muted">Marc Shapiro’s presentation at <a href="http://www.open-source-innovation-spring.org/open-source-pour-le-cloud-et-les-conteneurs17/"> Paris OpenSource Innovation Spring</a></li><br/>
                                                <li class="text-muted">Marc Shapiro’s presentation at <a href="https://www.meetup.com/Paris-Datageeks/events/239794365/?gj=co2&rv=co2&_cookie-check=OuxxojxxZyJFJD2M"> Paris DataGeeks meetup</a></li><br/>
                                                <li class="text-muted">A video of Chris Meiklejohn’s presentation on Just-right Consistency and Antidote at Percona’17 is available at <a href="https://www.percona.com/resources/videos?tid=All&combine=Antidote#edit-submit-percona-tv"> their website</a></li>
                                        </ul>
                                 </div>
                         </div>
                </div>
        </div>
</header>