<section id="logos">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                <a target="_blank" href="https://www.lightkone.eu/">
                    <img class="imgLogo" alt="Logo of Lightkone" src="../{{ site.baseurl }}/img/Lightkone_Logo_RGB.png">
                </a>
            </div>
            <div class="col-lg-6 text-center">
                <a target="_blank" href="https://pages.lip6.fr/syncfree/">
                    <img class="imgLogo" alt="Logo of Syncfree" src="../{{ site.baseurl }}/img/logows3.png">
                </a>
            </div>
        </div>
    </div>
</section>