<header>
        <div class="header-content">
                <div class="container">
                        <div class="row">
                                <div class="col-lg-8 col-lg-offset-2 text-center">
                                        <h2 class="section-heading">News</h2>
                                        <hr class="primary">
                                </div>
                                <div class="col-lg-8 col-lg-offset-2 text-left">
                                        <h3 class="text-secondary" style="color:#33cccc"><b>Initial release</b></h3>
                                        <h4 style="color:#248f8f">Apr 23, 2017</h4>
                                        <p><br/>We are very happy to announce the first release of AntidoteDB! <br/><br/>
                                        It contains all basic features you require from a transactional KV datastore, including a comprehensive library of object types (CRDTs).<br/><br/>
                                         We are planning to release further updates in the near future, including performance improvements, bug fixes, and new features. Stay tuned!</p>
                                </div>
                                <div class="col-lg-8 col-lg-offset-2 text-left">
                                        <h3 class="text-secondary" style="color:#33cccc"><b>Startup!</b></h3>
                                        <h4 style="color:#248f8f">Apr 23, 2017</h4>
                                        <p><br/>AntidoteDB is in the process of taking a big step from the academic world to the commercial world. We are currently working on an exciting startup project. Keep checking here for updates on this story and more.</p>
                                 </div>
                         </div>
                </div>
        </div>
</header>