<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-database wow bounceIn text-primary"></i>
                    <h3>CRDTs</h3>
                    <p class="text-muted">High-level replicated data types that are designed to work correctly in the presence of concurrent updates and partial failures.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Highly Available Transactions</h3>
                    <p class="text-muted">Traditional ACID transactions were built for single-machine deployments. It is expensive to implement ACID transactions in distributed deployments. On the other hand, highly-available transactions (HAT) provide strong consistency within a data center, but still perform well in geo-replicated deployments.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Geo-replication</h3>
                    <p class="text-muted">Designed to run on multiple servers in locations distributed world-wide. It provides continuous functioning even when there are failures or network partition.</p>
                </div>
            </div>
        </div>
    </div>
</section>
